spline-viewer {
  position: fixed;
  width: 100%;
  height: 75vh;
  border: none;
  display: flex;
  left: -70vh;
  top: 60px;
  z-index: 2;
}

spline-viewer::part(branding) {
  display: none !important;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: white;
  padding: 0 20px;

}

.hero-title {
  font-family: "SD Dystopian", sans-serif;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  opacity: 1;
}

.hero-description {
  font-family: "Gravedigger", serif;
  font-size: 16px;
  margin-bottom: 60px;
  margin-left: 30px;
  max-width: 600px;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  opacity: 0.65;
}

.connect-wallet-button {
  font-family: "SD Dystopian", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 10px;
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 7%,
    rgba(253, 29, 29, 1) 39%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  border: white 1px solid;
  border-radius: 30px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 30px rgba(27, 25, 25, 0.3);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.whitepaper-button {
  font-family: "SD Dystopian", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
  color: white;
  border: white 1px solid;
  border-radius: 30px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  cursor: pointer;
  margin: 0 15px;
}

#herobuttons {
  transition: opacity 0.1s linear;
}

.hero-buttons a {
  cursor: pointer;
}
