    /* Fixed and Glassmorphism effect for the navbar bar */

.header {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

    /*  */
.navbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 100%;
  background-color: transparent;
}

.website-logo h4 {
  font-family: "SD Dystopian", sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  opacity: 0.9;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.website-logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 40px;
  font-family: "SD Dystopian", sans-serif;
  font-weight: 300;
  font-size: 20px;
  opacity: 0.85;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.nav-button {
  font-family: "SD Dystopian", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 10px;
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 7%,
    rgba(253, 29, 29, 1) 39%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: -2px 4px 30px rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}
